@import "../../styles/general.scss";
@import "../../styles/breakpoints.scss";

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.3s ease all;
  margin: 1rem 0;
  gap: 2rem;

  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}
