@import "../../styles/general.scss";
@import "../../styles/breakpoints.scss";

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  transition: 0.3s ease all;

  &-content {
    grid-column: 2/3;
    width: 600px;
    padding: 0 1rem;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
      padding: 0;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    p {
      font-size: 1.25rem;
    }

    span {
      color: $color-primary;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;
  }
}
