@import "../../styles/general.scss";
@import "../../styles/breakpoints.scss";

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  transition: 0.3s ease all;

  h1 {
    grid-column: 1/3;
    font-size: 3.5rem;
    font-weight: 600;
    margin-left: 5rem;
    align-self: center;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 2.5rem;
    }
  }

  &-content {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 600px;
    padding: 0 1rem;

    p {
      font-size: 1.25rem;

      a {
        font-weight: 600;

        &::before {
          height: 70%;
        }
      }

      span {
        color: $color-primary;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0;

    h1 {
      margin: 0;
    }
  }

  @media screen and (max-width: $breakpoint-desktop) {
    h1 {
      width: 100%;
      padding: 0;
    }

    &-content {
      width: 100%;
      padding: 0;
    }
  }
}
