@import "../../styles/general.scss";
@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-primary;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease all;

  &-title {
    padding: 1rem 0;
  }

  .sticky {
    position: sticky;
    top: 1rem;
  }

  &-nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding: 0;

      li a {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}
