@import "../../styles/general.scss";
@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-secondary;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease all;

  &-title {
    padding: 1rem 0;
    color: $color-primary;
  }

  .sticky {
    position: sticky;
    top: 1rem;
  }

  &-nav {
    transition: 0.3s ease transform;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding: 0;

      @media screen and (max-width: $breakpoint-mobile) {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
      }

      li a {
        text-decoration: none;
        cursor: pointer;
        font-size: 0.8rem;
        color: $color-gray;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        display: none;
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      padding: 0;
    }
  }

  &-nav-mobile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-primary;

    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }

    svg {
      width: 60%;
      height: 60%;
      color: $color-white;
      cursor: pointer;
    }

    div {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;

      padding: 1rem;

      width: 50%;
      height: 100vh;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      background-color: $color-white;
      box-shadow: 0 0 20px rgba($color-gray, 0.15);

      svg {
        width: 30px;
        height: 30px;
        color: $color-primary;
        margin: 0.5rem 1rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        li {
          margin: 1rem;

          a {
            color: $color-gray;
            text-decoration: none;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }
    }
  }
}
